/* custom css*/

*{
	margin: 0;
	padding:0;
}

body{
	background: #a52a2a;
	font-family: Georgia Times serif;
	color:#fff;
	font-size: 50px;
	text-align: center;
}

#monkey{
	background: #fff;
	color: #4d2d06;
	font-family: verdana, Arial, sans-serif;

}

#donkey{
	background: green;
	font-style: monaco, monospace;
}

/* class Selectors*/

.primary-box{
	background: #222;
    color: #eee;
    font-size: 24px;
    margin: 0 0 10px;
    padding: 10px;
}

.secondary-box{
	background: #eee;
	color: #222;
    font-size: 24px;
    margin: 0 0 10px;
    padding: 10px;
}
