body{
	background: #333;
	font-family: Georgia, Times, serif;
	color: #fff;
	font-size: 20px;
}

/*This is grouping selectors - All of the grouped elements have the same styles*/
h1,h2,h3,h4,h5,h6{
	font-family: Helvetica, Arial, sans-serif;
    color:#ffcc33;
}

h1{
	background: #000;
	border: dashed 2px #ffcc33;
	font-size: 2em;
	padding:10px;
}

ol{
	background: #33bcde;
	border:solid #bce3ed 4px;
	padding: 20px 20px 20px 40px;
	margin: 2% 0;
}

a{
	color: #ffcc33;
}

strong{
	color:pink;
}